Node-red/Node-red Library.json
[{"id":"d2d913dd.558d28","type":"serial in","z":"d3d12964.743218","name":"","serial":"bce97b7b.cfe12","x":55,"y":211.66671752929688,"wires":[["4afeab07.5481e4"]]},{"id":"4afeab07.5481e4","type":"function","z":"d3d12964.743218","name":"To String","func":"var newMsg = {payload: msg.payload.toString()};\nreturn newMsg;","outputs":1,"noerr":0,"x":179,"y":211.66671752929688,"wires":[["9fdd1e2.468ed6"]]},{"id":"9fdd1e2.468ed6","type":"split","z":"d3d12964.743218","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":304,"y":211.66671752929688,"wires":[["3b3435d8.623e7a"]]},{"id":"3b3435d8.623e7a","type":"function","z":"d3d12964.743218","name":"Add date","func":"var newMsg = {};\nvar sensor = {\n    temp: 0,\n    humid: 0,\n    time: new Date().toString()\n};\n\ncontext.data = context.data || {}\n\nswitch(msg.parts.index) {\n\tcase 0:\n\t\tcontext.data.temp = parseFloat(msg.payload);\n\t\tmsg = null;\n\t\tbreak;\n\tcase 1:\n\t\tcontext.data.humid = parseFloat(msg.payload);\n\t\tmsg = null;\n\t\tbreak;\n\tdefault:\n\t\tmsg = null;\n\t\tbreak;\n}\n\nAllData = context.data.temp && context.data.humid;\n\nif (AllData) {\n\tvar time = Date();\n\tcontext.data.Time = time.toString();\n\tSensor = context.data;\n\tnewMsg = {payload: context.data,\n\ttopic: \"Frame Sensore\"};\n\tcontext.data = null;\n\treturn newMsg\n\t\n}\n//else\n//\treturn msg;","outputs":1,"noerr":0,"x":428,"y":211.66671752929688,"wires":[["42ec334c.be7fe4","f5a82e8f.f0975"]]},{"id":"42ec334c.be7fe4","type":"function","z":"d3d12964.743218","name":"extract values","func":"var msgTemp = {payload: msg.payload.temp};\nvar msgHumid = {payload: msg.payload.humid};\n\nreturn [msgTemp, msgHumid]","outputs":2,"noerr":0,"x":583.6944580078125,"y":210.77786254882812,"wires":[["981455c4.14d128","fa1ada94.ebeb08","ac470c99.424238"],["fd39ed63.7063e","fc09fcae.2a357","2b83fd60.c4d5ba"]]},{"id":"f5a82e8f.f0975","type":"file","z":"d3d12964.743218","name":"Write on Today CSS File","filename":"D:\\RecordedData\\daily.css","appendNewline":true,"createDir":true,"overwriteFile":"false","x":619.2777099609375,"y":20,"wires":[]},{"id":"fa1ada94.ebeb08","type":"ui_chart","z":"d3d12964.743218","name":"Temp chart","group":"5088b31.e2a1f4c","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"100","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":787.1388549804688,"y":64.00000762939453,"wires":[[],[]]},{"id":"ac470c99.424238","type":"ui_gauge","z":"d3d12964.743218","name":"","group":"5088b31.e2a1f4c","order":0,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"*C","format":"{{value}}*C","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":767.6388549804688,"y":104.5,"wires":[]},{"id":"fc09fcae.2a357","type":"ui_gauge","z":"d3d12964.743218","name":"","group":"a6a2fcb0.735c48","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":782.1944580078125,"y":301.7499694824219,"wires":[]},{"id":"fd39ed63.7063e","type":"ui_chart","z":"d3d12964.743218","name":"Humid chart","group":"a6a2fcb0.735c48","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":794.1387939453125,"y":339.0555419921875,"wires":[[],[]]},{"id":"981455c4.14d128","type":"function","z":"d3d12964.743218","name":"Temp > 30*C","func":"if (msg.payload > 30){\n     msg.payload = {\n        chatId: 476744119,\n        messageId: 1159,\n        type: \"message\",\n        content: \"Warning: The tempeture is over 30*C\"\n    };\n    \n    return msg\n\n} ","outputs":1,"noerr":0,"x":756.4166259765625,"y":144.44448852539062,"wires":[["5d13f3d7.cef524","75df4986.640a28"]]},{"id":"2b83fd60.c4d5ba","type":"function","z":"d3d12964.743218","name":"humid < 30%","func":"if (msg.payload <30){\n    msg.payload = {\n        chatId: 476744119,\n        messageId: 1159,\n        type: \"message\",\n        content: \"Warning: The humidity is under 30%\"\n    };\n    \n    return msg\n}\n","outputs":1,"noerr":0,"x":757.1666259765625,"y":226.83340454101562,"wires":[["5d13f3d7.cef524","75df4986.640a28"]]},{"id":"75df4986.640a28","type":"function","z":"d3d12964.743218","name":"Send Email","func":"return {payload:msg.payload.content};","outputs":1,"noerr":0,"x":968.2498779296875,"y":226.02783203125,"wires":[["134d4f66.326ab1"]]},{"id":"134d4f66.326ab1","type":"e-mail","z":"d3d12964.743218","server":"smtp.gmail.com","port":"465","secure":true,"name":"ho3in.f@outlook.com","dname":"Email","x":1095.7774047851562,"y":392.9721984863281,"wires":[]},{"id":"634b029b.a96654","type":"file","z":"d3d12964.743218","name":"Delete Today CSS File","filename":"D:\\RecordedData\\daily.css","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":1052.984130859375,"y":504.7342834472656,"wires":[]},{"id":"5f9a63ec.1daffc","type":"delay","z":"d3d12964.743218","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":837.015869140625,"y":504.7342224121094,"wires":[["634b029b.a96654"]]},{"id":"ad000952.17b478","type":"file","z":"d3d12964.743218","name":"Write on Total CSS File","filename":"D:\\RecordedData\\Total.css","appendNewline":false,"createDir":false,"overwriteFile":"false","x":886.9364624023438,"y":451.638916015625,"wires":[]},{"id":"f82b7ef4.8ae048","type":"function","z":"d3d12964.743218","name":"Process today's information","func":"var newMsg = {payload: msg.payload.toString()};\nvar count = Number(0);\nvar temp = {\"min\":Number(100), \"max\":Number(0), \"sum\":Number(0)}; \nvar humid = {\"min\":Number(100), \"max\":Number(0), \"sum\":Number(0)}; \n\nvar currentTemp;\nvar currentHumid;\n\nvar arr =[];\narr = msg.payload.split(\"\\n\");\n\nfor (var j=0; j<arr.length-1; j++){\n    currentHumid = Number(arr[j].substring(19,21));\n    humid.sum = humid.sum + currentHumid;\n    if (currentHumid < humid.min)\n        humid.min = currentHumid;\n    if (currentHumid > humid.max)\n        humid.max = currentHumid;\n    \n    currentTemp = Number(arr[j].substring(8,10));\n    temp.sum = temp.sum + currentTemp;\n    if (currentTemp < temp.min)\n        temp.min = currentTemp;\n    if (currentTemp > temp.max)\n        temp.max = currentTemp;\n        \n    count++;\n}\n\ntemp.ave = temp.sum / count;\nhumid.ave = humid.sum / count;\ntemp.ave = temp.ave.toFixed(2);\nhumid.ave = humid.ave.toFixed(2);\n\nvar str = \"Today:\\n  Temp:\\n    Average: \"+temp.ave+\"\\n    Min: \"+temp.min+\"\\n    Max: \"+temp.max+\"\\n\\n  Humidity:\\n    Average: \"+humid.ave+\"\\n    Min: \"+humid.min+\"\\n    Max: \"+humid.max;\nvar finalMsg = {payload: str,\n\ttopic: \"Frame Sensore\"};\nreturn finalMsg;\n\n","outputs":1,"noerr":0,"x":890.730224609375,"y":392.9801330566406,"wires":[["134d4f66.326ab1"]]},{"id":"ac0ce96f.75fa48","type":"file in","z":"d3d12964.743218","name":"Read Today CSS File","filename":"D:\\RecordedData\\daily.css","format":"utf8","chunk":false,"sendError":false,"x":612.0635375976562,"y":450.9246826171875,"wires":[["ad000952.17b478","f82b7ef4.8ae048","5f9a63ec.1daffc"]]},{"id":"1e475905.816037","type":"inject","z":"d3d12964.743218","name":"Every Midnight","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":414.5079650878906,"y":451.0357971191406,"wires":[["ac0ce96f.75fa48"]]},{"id":"bce97b7b.cfe12","type":"serial-port","z":"","serialport":"COM5","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"bin","out":"char","addchar":"","responsetimeout":"20000"},{"id":"5088b31.e2a1f4c","type":"ui_group","z":"","name":"Temp Dashboard","tab":"5769e7d6.031c4","disp":false,"width":"7","collapse":false},{"id":"a6a2fcb0.735c48","type":"ui_group","z":"","name":"Humid Dashboard","tab":"5769e7d6.031c4","disp":false,"width":"7","collapse":false},{"id":"5769e7d6.031c4","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]